<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9k2w3JPAmHbZA31TF71_6BnxdjCbHnb4</string>
	<key>GCM_SENDER_ID</key>
	<string>112732874834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotificationExample</string>
	<key>PROJECT_ID</key>
	<string>push-notification-exampl-335cb</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-exampl-335cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112732874834:ios:1a44caddbdf82b2a4a178b</string>
</dict>
</plist>